<tbody>
<tr width= "80%">
<td style="border: 1px solid #000000; padding: 0.02in; width: 15%">
<p align="center">{{name}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in; width: 15%" >
<p align="center">{{bruto}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in; width: 15%" >
<p align="center">{{neto}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" >
<p align="center">{{proteins}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" >
<p align="center">{{fats}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;">
<p align="center">{{carbs}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" >
<p align="center">{{kcal}}</p>
</td>
</tr>
</tbody>