<table  width="80%" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td style="border: none; padding: 0in;" colspan="7" width="80%" height="23">
<p align="left"><span style="font-family: Arial;"><span style="font-size: medium;">&Iogon;mon&edot;s pavadinimas: {{company_name}}</span></span></p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="12">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" colspan="7" width="80%" height="24">
<p align="center"><span style="font-family: Arial;"><span style="font-size: large;">Technologin&edot; kortel&edot; Nr.: {{card_number}}</span></span></p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="12">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" colspan="2" width="249" height="17">
<p align="right">Patiekalo pavadinimas: {{meal_name}}</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="12">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>s
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="20">
<p align="right">Recept&umacr;ra Nr.: {{recipe_number}}</p>
</td>
<td style="border: none; padding: 0in;" colspan="2" width="129">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="8">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>